In [1]:
import numpy as np
import random as rd 
import scipy as s 
import scipy.stats as ss
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd

In [2]:
d=pd.read_csv(r"C:\Users\Lenovo\Downloads\autos.csv",encoding="Latin-1")

In [3]:
data=d.copy()

In [4]:
data

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [5]:
data.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [6]:
data.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [8]:
data.shape

(371528, 20)

In [7]:
data[data.duplicated()].shape

(4, 20)

In [11]:
data.columns=["date_Crawled","name","seller","offer_Type","price","ab_test","vechile_type",
            "year_of_registration","gear_box","power_ps","model","kilometer","month_of_registration",
             "fuel_type","brand","not_repaired_damage","created_date","no_of_pictures","postal_code","last_seen"]

In [12]:
data.head()

,date_Crawled,name,seller,offer_Type,price,ab_test,vechile_type,year_of_registration,gear_box,power_ps,model,kilometer,month_of_registration,fuel_type,brand,not_repaired_damage,created_date,no_of_pictures,postal_code,last_seen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date_Crawled           371528 non-null  object
 1   name                   371528 non-null  object
 2   seller                 371528 non-null  object
 3   offer_Type             371528 non-null  object
 4   price                  371528 non-null  int64
 5   ab_test                371528 non-null  object
 6   vechile_type           333659 non-null  object
 7   year_of_registration   371528 non-null  int64
 8   gear_box               351319 non-null  object
 9   power_ps               371528 non-null  int64
 10  model                  351044 non-null  object
 11  kilometer              371528 non-null  int64
 12  month_of_registration  371528 non-null  int64
 13  fuel_type              338142 non-null  object
 14  brand                  371528 non-null  object
 15  not_repaired_damage    299468 non-null  object
 16  created_date           371528 non-null  object
 17  no_of_pictures         371528 non-null  int64
 18  postal_code            371528 non-null  int64
 19  last_seen              371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [14]:
data=data.drop_duplicates(keep="last")

In [15]:
data["date_Crawled"]=pd.to_datetime(data["date_Crawled"]).dt.date
data["last_seen"]=pd.to_datetime(data["last_seen"]).dt.date
data["created_date"]=pd.to_datetime(data["created_date"]).dt.date

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\2209707986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["date_Crawled"]=pd.to_datetime(data["date_Crawled"]).dt.date
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\2209707986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["last_seen"]=pd.to_datetime(data["last_seen"]).dt.date
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\2209707986.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["created_date"]=pd.to_datetime(data["created_date"]).dt.date

In [16]:
data.isnull().sum()

date_Crawled                 0
name                         0
seller                       0
offer_Type                   0
price                        0
ab_test                      0
vechile_type             37869
year_of_registration         0
gear_box                 20209
power_ps                     0
model                    20484
kilometer                    0
month_of_registration        0
fuel_type                33386
brand                        0
not_repaired_damage      72060
created_date                 0
no_of_pictures               0
postal_code                  0
last_seen                    0
dtype: int64

In [85]:
print("name:",data["name"].nunique())
print("seller:",data["seller"].nunique())
print("offer:",data["offer_Type"].nunique())
print("ab_test:",data["ab_test"].nunique())
print("price:",data["price"].nunique())
print("vechile_types:",data["vechile_type"].nunique())
print("year_of_regi:",data["year_of_registration"].nunique())
print("gear_box :",data["gear_box"].nunique())
print("power_ps :",data["power_ps"].nunique())
print("model :",data["model"].nunique())
print("kelometer :",data["kilometer"].nunique())
print("month_reg :",data["month_of_registration"].nunique())
print("fuel_type :",data["fuel_type"].nunique())
print("brand :",data["brand"].nunique())
print("not_repaired_damage :",data["not_repaired_damage"].nunique())
print("no_of_pctures :",data["no_of_pictures"].nunique())
print("postel_code :",data["postal_code"].nunique())

name: 233531
seller: 2
offer: 2
ab_test: 2
price: 5597
vechile_types: 8
year_of_regi: 155
gear_box : 2
power_ps : 794
model : 251
kelometer : 13
month_reg : 13
fuel_type : 7
brand : 40
not_repaired_damage : 2
no_of_pctures : 1
postel_code : 8150

In [17]:
data.drop("no_of_pictures",axis=1,inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\2784362305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop("no_of_pictures",axis=1,inplace=True)

In [18]:
data["vechile_type"].mode()

0    limousine
Name: vechile_type, dtype: object

In [19]:
data["model"].mode()

0    golf
Name: model, dtype: object

In [20]:
data["gear_box"].mode()

0    manuell
Name: gear_box, dtype: object

In [92]:
data["fuel_type"].mode()

0    benzin
Name: fuel_type, dtype: object

In [26]:
data["not_repaired_damage"].mode()

0    nein
Name: not_repaired_damage, dtype: object

In [21]:
data.isnull().sum()

date_Crawled                 0
name                         0
seller                       0
offer_Type                   0
price                        0
ab_test                      0
vechile_type             37869
year_of_registration         0
gear_box                 20209
power_ps                     0
model                    20484
kilometer                    0
month_of_registration        0
fuel_type                33386
brand                        0
not_repaired_damage      72060
created_date                 0
postal_code                  0
last_seen                    0
dtype: int64

In [28]:
data["fuel_type"].fillna(data["fuel_type"].mode()[0],inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\1765011242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["fuel_type"].fillna(data["fuel_type"].mode()[0],inplace=True)

In [22]:
data["vechile_type"].fillna(data["vechile_type"].mode()[0],inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\2005516116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["vechile_type"].fillna(data["vechile_type"].mode()[0],inplace=True)

In [35]:
data["gear_box"].fillna(data["gear_box"].mode()[0],inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\1689074997.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["gear_box"].fillna(data["gear_box"].mode()[0],inplace=True)

In [37]:
data["model"].fillna(data["model"].mode()[0],inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\3299401304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["model"].fillna(data["model"].mode()[0],inplace=True)

In [41]:
data["not_repaired_damage"].fillna("not mentioned",inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10428\660121009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["not_repaired_damage"].fillna("not mentioned",inplace=True)

In [99]:
data.fillna({"vehicle_type":data["vechile_type"].mode()[0],
             "gear_box":data["gear_box"].mode()[0],
            "model":data["model"].mode()[0],
             "fuel_type":data["fuel_type"].mode()[0],
            "not_repaired_damage":data["not_repaired_damage"].mode()[0]},
             inplace=True,)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_7776\2248976530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.fillna({"vehicle_type":data["vechile_type"].mode()[0],

In [44]:
#data["not_repaired_damage"].fillna(data["not mentioned"],inplace=True)
#data["vechile_type"].fillna(data["vechile_type"].mode()[0],inplace=True)
#data["model"].fillna(data["model"].mode()[0],inplace=True)
#data["fuel_type"].fillna(data["fuel_type"].mode(),inplace=True)
#data["gear_box"].fillna(data["gear_box"].mode()[0],inplace=True)

In [32]:
data

,date_Crawled,name,seller,offer_Type,price,ab_test,vechile_type,year_of_registration,gear_box,power_ps,model,kilometer,month_of_registration,fuel_type,brand,not_repaired_damage,created_date,postal_code,last_seen
0,2016-03-24,Golf_3_1.6,privat,Angebot,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24,70435,2016-04-07
1,2016-03-24,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24,66954,2016-04-07
2,2016-03-14,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14,90480,2016-04-05
3,2016-03-17,GOLF_4_1_4__3TÃœRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17,91074,2016-03-17
4,2016-03-31,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31,60437,2016-04-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,limousine,2005,NaN,0,NaN,20000,1,benzin,sonstige_autos,NaN,2016-03-14,39576,2016-04-06
371524,2016-03-05,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05,26135,2016-03-11
371525,2016-03-19,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19,87439,2016-04-07
371526,2016-03-20,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20,40764,2016-03-24
371527,2016-03-07,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07,73326,2016-03-22

In [42]:
data.isnull().sum()

date_Crawled             0
name                     0
seller                   0
offer_Type               0
price                    0
ab_test                  0
vechile_type             0
year_of_registration     0
gear_box                 0
power_ps                 0
model                    0
kilometer                0
month_of_registration    0
fuel_type                0
brand                    0
not_repaired_damage      0
created_date             0
postal_code              0
last_seen                0
dtype: int64

In [43]:
data.to_csv("C:\\Users\\Lenovo\\Desktop\\cleaned_autos.csv",index=False)